html {
  color: #fff;
  font-family: Georgia, serif;
}

.banner {
  background-color: #495562;
}

.btn {
  color: #fff;
  border-color: #97a49b;
}

.btn:hover {
  background-color: #efefef;
  border-color: #efefef;
  color: #495562;
}

@media only screen and (min-width: 38em) {

  .btn {
    position: absolute;
    right: .7rem;
  }

}

@media only screen and (min-width: 60em) {

  .banner {
    position: relative;
    max-height: 500px;
    overflow: hidden;
  }

  .banner-content {
    position: absolute;
    bottom: 0;
  }

  .btn {
    border-color: #fff;
  }

}

@media only screen and (min-width: 90em) {

}
